.login,
.reset {
  margin-top: 20px;
  padding-top: 50px;
  width: 100%;
  position: relative;
}
.standart_back {
  position: absolute;
  top: 0;
  left: 0;
  color: #0e0f0c;
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  align-items: center;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: left;
  transition: 0.4s;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.standart_close {
  position: absolute;
  top: 0;
  right: 0;
  color: #0e0f0c;
  font-family: "Neurial Grotesk";
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
  transition: 0.4s;
}
.standart_back:hover,
.standart_close:hover {
  color: #d60c94;
}

@media screen and (max-width: 320px) {
  .login {
    margin-top: 20px;
    padding-top: 30px;
  }
}
