.login,
.reset {
  margin-top: 20px;
  padding-top: 50px;
  width: 100%;
  position: relative;
}
.standart_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.standart_title h2 {
  font-family: "Alfa Slab One";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.015em;
  text-align: center;
  color: #0e0f0c;
}
.standart_title p {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #0e0f0c;
  text-align: center;
  max-width: 580px;
}
.standart_title > p .standart_link {
  margin-left: 7px !important;
}
.standart_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 586px;
  margin: 30px auto;
}
.standart_form label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  margin-bottom: 15px;
}
.standart_form label p {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #0e0f0c;
}
.standart_form label input {
  width: 100%;
  padding: 15px 24px;
  border-radius: 8px;
  background-color: #f4f4f4;
  border: none;
  height: 56px;
  outline: none;
}
.standart_form button,
.submit_btn {
  display: inline-block;
  margin: 20px 0 30px;
  border: none;
  outline: none;
  background-color: #d60c94;
  color: #ffffff;
  cursor: pointer;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: center;
  border-radius: 8px;
  width: 100%;
  padding: 15px 24px;
}
.standart_form > p {
  margin: 0 auto 20px;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: center;
  color: #0e0f0c;
}
.standart_form > p a {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: center;
  color: #d60c94;
  margin-left: 5px;
  text-decoration: underline;
}
.standart_form > a {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: center;
  color: #d60c94;
  text-decoration: underline;
  margin: 0 auto;
}
.standart_form .standart_link {
  margin-bottom: 10px !important;
}
.standart_form h5 {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: center;
  color: #0e0f0c;
  width: 100%;
  margin-bottom: 40px;
}
.email_input {
  position: relative;
}
.standart_error_text {
  position: absolute;
  bottom: -30px;
  right: 0;
  color: red !important;
  font-family: "Aileron" !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 19px !important;
  letter-spacing: -0.10000000149011612px !important;
  text-align: center !important;
}
.pass_label {
  position: relative;
  margin-bottom: 40px !important;
}
.pass_label svg {
  position: absolute;
  top: 58%;
  right: 20px;
  font-size: 20px;
  color: #979797;
  cursor: pointer;
}
.standart_form button,
.submit_btn {
  display: inline-block;
  margin: 20px 0 30px;
  border: none;
  outline: none;
  background-color: #d60c94;
  color: #ffffff;
  cursor: pointer;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: center;
  border-radius: 8px;
  width: 100%;
  padding: 15px 24px;
}
.submit_btn {
  color: #ffffff !important;
  display: inline-block !important;
  margin-top: 10px !important;
}
.submit_btn_business,
.business_next_btn {
  background-color: #544e9e;
}
.dont_have {
  margin-top: 15px !important;
}
.business_log_link {
  color: #544e9e !important;
  background-color: transparent !important;
}
.standart_back_business:hover,
.standart_close_business:hover {
  color: #544e9e !important;
}
.standart_back {
  position: absolute;
  top: 0;
  left: 0;
  color: #0e0f0c;
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  align-items: center;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: left;
  transition: 0.4s;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.standart_close {
  position: absolute;
  top: 0;
  right: 0;
  color: #0e0f0c;
  font-family: "Neurial Grotesk";
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
  transition: 0.4s;
}
.standart_back:hover,
.standart_close:hover {
  color: #d60c94;
}

@media screen and (max-width: 768px) {
  .standart_title {
    gap: 10px;
  }
  .standart_title h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .standart_title p {
    font-size: 16px;
    line-height: 20px;
  }
  .standart_form {
    max-width: 80%;
  }
}
@media screen and (max-width: 480px) {
  .standart_title {
    gap: 10px;
  }
  .standart_title h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .standart_title p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
  }
  .standart_form {
    max-width: 95%;
  }
  .standart_form label {
    gap: 5px;
    margin-bottom: 15px;
  }
  .standart_form button {
    margin: 10px 0 20px;
  }
  .standart_form > p {
    margin: 0 auto 10px;
  }
}
@media screen and (max-width: 320px) {
  .login {
    margin-top: 20px;
    padding-top: 30px;
  }
}
