.blog_item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #fff2fb86;
}
.blog_item img {
  width: 100%;
  aspect-ratio: 1.5/1;
  cursor: pointer;
}
.blog_item h4 {
  font-family: "Neurial Grotesk";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #6f6f6f;
  margin: 15px 0;
}
.blog_item h3 {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
  margin-bottom: 20px;
}
.blog_item button {
  font-family: "Neurial Grotesk";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #6f6f6f;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 5px;
}
.blog_item button svg {
  transform: translateY(2px);
  margin-left: 6px;
}
