.people_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: #fff2fb;
  width: 100%;
}
.people_info {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  margin-top: 15px;
}
.people_item p,
.people_info h4 {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
}

@media screen and (max-width: 480px) {
  .people_item {
    width: 100%;
  }
  .people_item p {
    width: 100%;
  }
  .people_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
