.faqs_modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0e0f0c5f;
  cursor: pointer;
  z-index: 9;
}
.faqs_modal {
  position: relative;
  width: 788px;
  height: 80vh;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: default;
  transition: 0.4s;
}
.faqs_modal {
  height: max-content;
}
.faqs_modal_hero {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.faqs_modal h2 {
  font-family: "Neurial Grotesk";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #0e0f0c;
  margin-bottom: 20px;
}
.faqs_modal p {
  font-family: "Neurial Grotesk";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #595959;
}
.faqs_modal {
  padding: 30px 40px;
}
.modal_close_btn {
  position: absolute;
  top: -50px;
  right: 0px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  color: #0e0f0c;
  padding: 7px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .faqs_modal {
    width: 600px;
  }
}
@media screen and (max-width: 768px) {
  .faqs_modal {
    width: 80vw !important;
    padding: 20px 30px;
  }
}
@media screen and (max-width: 480px) {
  .faqs_modal {
    width: 85vw !important;
    padding: 10px 15px;
  }
  .faqs_modal h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  .faqs_modal p {
    font-size: 16px;
    line-height: 24px;
  }
}
