header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}
.burger_hidden {
  transition: 0.3s !important;
  transform: translateY(-100%) !important;
}
.burger_menu {
  display: none;
}
.burger_btn {
  display: none;
}
.pers_business {
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pers_business2 {
  margin-left: 20px !important;
}
.pers_business a {
  color: #0e0f0c;
}
.resp_navbar .pers_business {
  margin-left: 0;
  transform: translate(-10px, -10px);
  display: none;
}
.resp_navbar .pers_business2 {
  margin-left: 0 !important;
}
.personal_link,
.business_link {
  padding: 7px 12px;
  background-color: #de0b7f;
  border-radius: 100px;
  color: #ffffff !important;
}
.business_link {
  background-color: #544e9e;
}
.personal_link:hover,
.business_link:hover {
  color: #ffffff;
}
.navbar {
  margin-right: auto;
  margin-left: 100px !important;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
}
.navbar a {
  font-family: "Neurial Grotesk";
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #0e0f0c;
  transition: 0.4s;
}
.navbar a:hover {
  color: #de0b7f !important;
}
.navbar a.active {
  color: #de0b7f;
}
.navbar a.active_hash {
  color: #de0b7f;
}
.navbar a.active_hash:hover {
  color: #de0b7f !important;
}
.navbar a.not_active {
  color: #0c0d10 !important;
}
.navbar a.not_active:hover {
  color: #de0b7f !important;
}
.chechedCompany {
  position: relative;
  cursor: pointer;
}
.chechedCompany:hover .company_dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.company_dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  height: 110px;
  box-shadow: 0px 8px 36px 0px #00000014;
  border-radius: 16px;
  background-color: #ffffff;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.4s;
  transform: translateY(40px);
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
.company_dropdown a {
  display: inline-block;
  padding: 5px 10px;
  width: 100%;
  border-bottom: 1px solid #ccccccc4;
  transition: 0.4s;
}
.company_dropdown a:last-of-type {
  border-bottom: none;
}
.company_dropdown a:hover {
  color: #de0b7f;
  background-color: #e4e1e16c;
}
.chechedCompany:hover .company_dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.company_dropdown a.selected {
  color: #de0b7f;
}
.sign_in_up {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
}
.sign_in {
  font-family: "Neurial Grotesk";
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #0e0f0c;
  transition: 0.4s;
}
.sign_in:hover {
  color: #de0b7f;
}
.sign_up {
  font-family: "Neurial Grotesk";
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.025em;
  text-align: left;
  color: #ffff;
  display: inline-block;
  padding: 7px 16px;
  background-color: #de0b7f;
  border-radius: 8px;
}
.sign_up_business {
  background-color: #544e9e;
}
.burger_btn {
  display: none;
}
.burger_menu {
  display: none;
}
.burger_hidden {
  transition: 0.3s !important;
  transform: translateY(-100%) !important;
}
.pers_business2 {
  margin-left: 20px !important;
}
.news_active.active {
  color: #0c0d10 !important;
}

@media screen and (max-width: 768px) {
  .burger_menu {
    display: block;
    position: relative;
    transition: transform ease 0.3s;
  }
  .burger_menu {
    order: 2;
    z-index: 999999999 !important;
  }
  .burger_btn {
    display: block;
    order: 3;
    font-size: 40px;
    font-family: "Archivo";
    cursor: pointer;
  }
  .pers_business {
    display: none;
  }
  .resp_navbar .pers_business {
    display: flex;
  }
  .resp_navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding-left: 10px;
  }
  .resp_navbar a {
    font-family: "Neurial Grotesk";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.025em;
    text-align: left;
    color: #0e0f0c;
    transition: 0.4s;
  }
  .resp_navbar a.active {
    color: #de0b7f;
  }
  .navbar {
    display: none;
  }
  .burger .sign_in_up {
    display: none;
  }
  .sign_in_up {
    flex-direction: row-reverse;
  }
  .burger .sign_in_up {
    display: none;
  }
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 300px !important;
    background-color: #fff2fb;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 25px;
    padding-left: 15px;
  }
  .burger2 {
    height: 340px !important;
  }
}
@media screen and (max-width: 480px) {
  header > .sign_in_up {
    display: none;
  }
  .burger .sign_in_up {
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
  }
  .burger {
    height: 350px;
    padding-top: 25px;
  }
  .burger {
    height: 350px !important;
  }
  .burger2 {
    height: 380px !important;
  }
}
@media screen and (max-width: 320px) {
  .navbar a.not_active {
    color: #0c0d10 !important;
  }
}
