.expect_item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
.expect_item_img {
  padding: 5px;
  background-color: #fff2fb;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expect_business_hero .expect_item_img {
  background-color: #544e9e;
}
.expect_item_img img {
  transform: scale(0.8);
}
.expect_item p {
  max-width: 251px;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
}
