.coming {
  position: absolute;
  bottom: -25px;
  max-width: 90%;
  background-color: #3a3f45;
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff !important;
  z-index: 999;
}
.coming_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
  gap: 15px;
}
.coming_text h2 {
  font-family: "Neurial Grotesk";
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
}
.coming_text p {
  font-family: "Neurial Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
}
.coming_btns {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}
.coming_btns a {
  display: inline-block;
  border-radius: 8px;
  background-color: #ffffff;
  color: #3a3f45;
  width: 105px;
  height: 55px;
  transition: 0.4s;
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.005em;
  text-align: left;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coming_btns a:hover {
  background-color: #3a3f45;
  color: #ffffffff;
}
.coming_btns button {
  display: inline-block;
  cursor: pointer;
  border-radius: 8px;
  background-color: transparent;
  color: #ffffffff;
  width: 105px;
  height: 55px;
  transition: 0.4s;
  font-family: "Archivo";
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: -0.005em;
  text-align: left;
  border: 1px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coming_btns button:hover {
  background-color: #ffffffff;
  color: #3a3f45;
}
