/* -------------------------------LIFE-------------------- */
.life {
  max-width: 990px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
}
.life h2 {
  font-family: "Alfa Slab One";
  font-size: 36px;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
}
.life p {
  font-family: "Archivo";
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.005em;
  text-align: left;
  color: #0e0f0c;
}
