/* ---------------FOOTER-------------- */

footer {
  padding: 50px 0;
}
.footer_top {
  border-top: 1px solid #cccccc59;
  border-bottom: 1px solid #cccccc59;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}
.foot1,
.foot2,
.foot3,
.foot4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foot2,
.foot3,
.foot4 {
  padding-top: 20px;
}
.foot1 {
  gap: 30px;
  width: 32.2%;
}
.foot1 p {
  width: 100%;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
}
.foot2 {
  width: 10.5%;
}
.foot3 {
  width: 12.6%;
}
.foot4 {
  width: 16%;
}
.foot_title {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
  margin-bottom: 15px;
}
.foot_ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.foot_ul li a {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #6f6f6f;
  transition: 0.4s;
}
.foot_ul li a:hover {
  color: #de0b7f;
}
.foot4 ul li a {
  color: #de0b7f;
}
.foot4 ul li a img {
  transform: translate(-3px, 4px) scale(0.9);
}
.foot4 ul li:nth-of-type(1) a {
  color: #6f6f6f;
  transition: 0.4s;
}
.foot4 ul li:nth-of-type(1) a:hover {
  color: #de0b7f;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
.footer_bottom ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
.footer_bottom ul li:last-of-type {
  display: none;
}
.footer_bottom ul li,
.footer_bottom p {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #6f6f6f;
}
.transact_right {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.transact_items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
}
.transact_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.transact_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: flex-end;
}
.transact_right a {
  display: inline-block;
  padding: 19px 24px;
  border-radius: 8px;
  background-color: #de0b7f;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.foot1_icons {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}
.foot1_icons a {
  padding: 15px !important;
  background-color: #0e0f0c !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2px !important;
  width: 50% !important;
  font-size: 14px !important;
}
.foot2 .foot1_icons {
  display: none !important;
}
