/* ---------------FOOTER-------------- */

footer {
  padding: 50px 0;
}
.footer_top {
  border-top: 1px solid #cccccc59;
  border-bottom: 1px solid #cccccc59;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}
.foot1,
.foot2,
.foot3,
.foot4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.foot2,
.foot3,
.foot4 {
  padding-top: 20px;
}
.foot1 {
  gap: 30px;
  width: 32.2%;
}
.foot1 p {
  width: 100%;
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
}
.foot2 {
  width: 10.5%;
}
.foot3 {
  width: 12.6%;
}
.foot4 {
  width: 16%;
}
.foot_title {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
  margin-bottom: 15px;
}
.foot_ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.foot_ul li a {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #6f6f6f;
  transition: 0.4s;
}
.foot_ul li a:hover {
  color: #de0b7f;
}
.foot4 ul li a {
  color: #de0b7f;
}
.foot4 ul li a img {
  transform: translate(-3px, 4px) scale(0.9);
}
.foot4 ul li:nth-of-type(1) a {
  color: #6f6f6f;
  transition: 0.4s;
}
.foot4 ul li:nth-of-type(1) a:hover {
  color: #de0b7f;
}
.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
.footer_bottom ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}
.footer_bottom ul li:last-of-type {
  display: none;
}
.footer_bottom ul li,
.footer_bottom p {
  font-family: "Neurial Grotesk";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #6f6f6f;
}
.transact_right {
  width: 27%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.transact_items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 85%;
}
.transact_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.transact_left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 73%;
}
.transact_left h2 {
  font-family: "Alfa Slab One";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
  max-width: 550px;
}
.transact_left > p {
  font-family: "Neurial Grotesk";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-align: left;
  color: #0e0f0c;
  margin: 20px 0 40px;
  max-width: 550px;
}
.transact_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  align-items: flex-end;
}
.transact_right a {
  display: inline-block;
  padding: 19px 24px;
  border-radius: 8px;
  background-color: #de0b7f;
  color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.foot1_icons {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  flex-direction: row !important;
}
.foot1_icons a {
  padding: 15px !important;
  background-color: #0e0f0c !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 2px !important;
  width: 50% !important;
  font-size: 14px !important;
}
.foot2 .foot1_icons {
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .footer_bottom p {
    display: none;
  }
  .footer_bottom ul li:last-of-type {
    display: block;
  }
  .footer_bottom ul {
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
    justify-content: flex-start;
  }
  .footer_bottom ul li {
    width: 40%;
  }
  .foot1_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .foot1_icons a {
    padding: 20px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    width: 70% !important;
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .footer_bottom ul li {
    width: 50%;
    font-size: 14px;
  }
  .footer_bottom ul li:nth-of-type(2) {
    order: 1;
    width: 61%;
  }
  .footer_bottom ul li:nth-of-type(1) {
    width: 61%;
  }
  .footer_bottom ul li:nth-of-type(4) {
    width: 39%;
  }
  .footer_bottom ul li:nth-of-type(3) {
    order: 2;
    width: 39%;
  }
  .footer_top {
    flex-wrap: wrap;
  }
  .foot1,
  .foot2,
  .foot3,
  .foot4 {
    width: 50%;
  }
  .foot2 {
    padding-left: 50px;
  }
  .foot3 {
    order: 2;
    padding-left: 50px;
  }
  .foot4 {
    order: 1;
  }
  .foot1_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .foot1_icons a {
    padding: 20px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    width: 200px !important;
  }
  .transact_right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .transact_items {
    width: 90%;
  }
  .transact_left h2 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .transact_left > p {
    font-size: 18px;
    line-height: 20px;
    margin: 10px 0 30px;
    max-width: 400px;
    text-align: center;
  }
  .transact_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .footer_bottom ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .footer_bottom ul li {
    width: 100% !important;
    order: 0;
  }
  .foot1_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .foot1_icons a {
    padding: 20px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    width: 200px !important;
  }
  .foot1 .foot1_icons {
    display: none;
  }
  .foot2 .foot1_icons {
    display: flex !important;
    width: 100% !important;
    margin-top: 15px;
  }
  .foot1_icons a {
    padding: 15px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    width: 100% !important;
  }
  .foot1_icons a img {
    transform: scale(0.8);
  }
  .foot1,
  .foot4 {
    width: 55%;
  }
  .foot2,
  .foot3 {
    width: 45%;
    padding-left: 20px;
  }
  .transact_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transact_items {
    width: 100%;
    flex-wrap: wrap;
  }
  .transact_item img {
    transform: scale(0.8);
    gap: 5px;
  }
  .transact_items {
    width: 100%;
    flex-wrap: wrap;
  }
  .transact_item {
    width: 50%;
    margin-bottom: 15px;
  }
  .transact_item p {
    font-size: 14px;
  }
  .transact_left h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .transact_left > p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 20px;
    max-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .foot1_icons a {
    padding: 15px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    width: 100% !important;
  }
  .foot1_icons a img {
    transform: scale(0.8);
  }
}
