@media screen and (max-width: 1024px) {
  .footer_bottom p {
    display: none;
  }
  .footer_bottom ul li:last-of-type {
    display: block;
  }
  .footer_bottom ul {
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
    justify-content: flex-start;
  }
  .footer_bottom ul li {
    width: 40%;
  }
  .home_hero h1 {
    font-size: 44px;
    line-height: 50px;
  }
  .home_hero p {
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0 15px;
  }
  .home_hero {
    margin: 30px 0;
  }
  .home_hero .home_hero_btns a {
    padding: 15px 20px;
    font-size: 16px;
  }
  .features_item {
    padding: 30px 30px 0;
  }
  .features_item_empty h2 {
    font-size: 48px;
    line-height: 50px;
    margin-top: 30px;
    max-width: 90%;
  }
  .features_item_empty p {
    font-size: 18px;
    line-height: 20px;
  }
  .features_item h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .features_item p {
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0;
  }
  .expect_title p {
    font-size: 18px;
    line-height: 20px;
    max-width: 350px;
  }
  .expect_title h2 {
    line-height: 32px;
  }
  .people_title {
    gap: 10px;
    margin-bottom: 20px;
  }
  .people_title h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .people_title p {
    font-size: 20px;
    line-height: 22px;
    max-width: 500px;
  }
  .people_hero {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 80px;
  }
  .awards {
    margin-bottom: 0;
  }
  .awards_hero {
    margin-bottom: 200px;
  }
  .transact {
    padding-top: 50px;
  }
  .career_hero {
    margin: 40px 0;
    gap: 15px;
  }
  .career_hero h2 {
    font-size: 40px;
    line-height: 50px;
    max-width: 700px;
  }
  .career_hero p {
    font-size: 20px;
    line-height: 24px;
    max-width: 500px;
  }
  .who_text {
    gap: 10px;
  }
  .who_text h2 {
    font-size: 40px;
    line-height: 50px;
  }
  .who_text p {
    font-size: 20px;
    line-height: 28px;
  }
  .who_text h4 {
    font-size: 20px;
    line-height: 22px;
  }
  .perk_items {
    padding: 0 40px;
  }
  .perk_items h4:nth-of-type(1),
  .perk_items h4:nth-of-type(2) {
    width: 40%;
    margin-bottom: 20px;
  }
  .perk_items h4:nth-of-type(3),
  .perk_items h4:nth-of-type(4) {
    width: 40% !important;
    text-align: left;
    margin-bottom: 20px;
  }
  .perk_items h4:nth-of-type(4) {
    width: 100%;
  }
  .blog_item h3 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .blog_item h4 {
    line-height: 20px;
    margin: 10px 0;
  }
  .subscribe_text {
    width: 65%;
    gap: 10px;
  }
  .subscribe_img {
    width: 40%;
  }
  .subscribe_text h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .subscribe_text p {
    font-size: 18px;
    line-height: 24px;
  }
  .subscribe_text form input {
    height: 45px;
    padding: 0 24px;
  }
  .subscribe_text form button {
    height: 45px;
  }
  .subscribe {
    margin: 50px 0;
    padding-top: 20px;
    padding-left: 20px;
  }
  .blog_modal,
  .faqs_modal {
    width: 600px;
  }
  .faqs_title,
  .faqs_footer {
    margin: 20px 0;
    padding: 30px 0;
    gap: 15px;
  }
  .faqs_title h2,
  .faqs_footer h2 {
    font-size: 48px;
    line-height: 50px;
    max-width: 650px;
  }
  .faqs_title p {
    font-size: 20px;
    line-height: 24px;
  }
  .wallets {
    margin-bottom: 40px;
    gap: 5px !important;
    height: 114px;
  }
  .wallet_item {
    width: calc((100% - 60px) / 4);
    height: 100%;
    padding: 0 15px;
    border-radius: 24px;
  }
  .wallet_text h3 {
    font-size: 14px;
    line-height: 24px;
  }
  .wallet_text {
    gap: 10px;
  }
  .wallet_item .standart_link {
    font-size: 14px !important;
  }
  .complete {
    width: 45%;
  }
  .recent {
    width: 55%;
  }
  .wallet_text h2 {
    font-size: 20px;
    line-height: 25px;
  }
  .recent_true .activites {
    width: 55%;
  }
  .recent_true .download {
    width: 45%;
  }
  .recent_true .download .download_links a {
    display: inline-block;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px !important;
    font-size: 14px;
  }
  .for_compelete_activities {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    width: 85%;
  }
  .business_hero h2 {
    font-size: 36px;
    line-height: 40px;
    max-width: 670px;
  }
  .business_hero p {
    font-size: 20px;
    line-height: 32px;
    max-width: 660px;
    margin: 15px 0 30px;
  }
  .business_features_title {
    margin-bottom: 20px;
    gap: 10px;
  }
  .business_features_title h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .business_features_title p {
    font-size: 20px;
    line-height: 32px;
    max-width: 740px;
  }
  .business_features_item {
    padding: 35px 25px;
    gap: 25px;
    min-height: 294px;
  }
  .business_features_item h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .business_features_item p {
    font-size: 18px;
    line-height: 22px;
  }
  .business_features_hero {
    gap: 10px;
  }
  .awards_business_hero {
    margin-bottom: 0;
  }
  .business_transact_text h2 {
    font-size: 36px;
    line-height: 40px;
  }
  .business_transact_text p {
    font-size: 18px;
    line-height: 22px;
    max-width: 500px;
  }
  .business_transact_btns {
    width: 200px;
  }
  .business_transact_btns a {
    font-size: 14px;
    height: 48px;
  }
  .faqs_question h2 {
    font-size: 48px;
    line-height: 56px;
    max-width: 800px;
  }
  .faqs_business_item p {
    font-size: 20px;
    line-height: 24px;
    width: 85%;
  }
  .faqs_business_item svg {
    width: 15%;
  }
  .faqs_business_item_text {
    padding: 0 50px 0 20px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 20px;
  }
  .foot1_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .foot1_icons a {
    padding: 20px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    width: 70% !important;
    font-size: 16px;
  }
  .coming {
    position: absolute;
    bottom: -25px;
    max-width: 95%;
    background-color: #3a3f45;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff !important;
    z-index: 999;
  }
}
