@media screen and (max-width: 480px) {
  header > .sign_in_up {
    display: none;
  }
  .burger .sign_in_up {
    display: flex;
    margin-top: auto;
    margin-bottom: 10px;
  }
  .burger {
    height: 350px;
    padding-top: 25px;
  }
  .foot1,
  .foot4 {
    width: 55%;
  }
  .foot2,
  .foot3 {
    width: 45%;
    padding-left: 20px;
  }
  .footer_bottom ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
  }
  .footer_bottom ul li {
    width: 100% !important;
    order: 0;
  }
  .home_hero h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .home_hero p {
    font-size: 16px;
    line-height: 18px;
    margin: 10px 0 20px;
    max-width: 300px;
  }
  .home_hero .home_hero_btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .map_img {
    margin: 15px 0;
  }
  .features {
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
    margin-bottom: 20px;
    padding: 0 30px;
  }
  .features_item {
    padding: 20px 20px 0;
    overflow: hidden;
  }
  .features_item_empty {
    height: 350px;
  }
  .expect_hero {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .expect_item {
    width: 100%;
  }
  .expect_item p {
    max-width: 100%;
  }
  .expect_title h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .expect_title p {
    font-size: 18px;
    line-height: 20px;
    max-width: 280px;
  }
  .expect {
    margin: 40px 0 20px;
  }
  .people_title h2 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 25px;
  }
  .people_title p {
    font-size: 16px;
    line-height: 20px;
    max-width: 400px;
  }
  .people_hero {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    padding: 0 20px;
  }
  .people_item {
    width: 100%;
  }
  .people_item p {
    width: 100%;
  }
  .people_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .awards_hero {
    margin-bottom: 100px;
  }
  .awards_hero p {
    font-size: 16px;
    line-height: 18px;
  }
  .awards_title {
    margin-bottom: 20px;
  }
  .awards_title h2 {
    font-size: 24px;
    line-height: 25px;
  }
  .awards_title p {
    font-size: 16px;
    line-height: 18px;
  }
  .transact_left h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .transact_left > p {
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0 20px;
    max-width: 300px;
  }
  .transact_item img {
    transform: scale(0.8);
    gap: 5px;
  }
  .transact_items {
    width: 100%;
    flex-wrap: wrap;
  }
  .transact_item {
    width: 50%;
    margin-bottom: 15px;
  }
  .transact_item p {
    font-size: 14px;
  }
  .transact_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .history_text p {
    font-size: 18px;
    line-height: 24px;
  }
  .history_text p img {
    width: 100%;
    margin: 0 0 20px;
  }
  .history_title {
    margin: 30px 0;
  }
  .history_title h2 {
    font-size: 48px;
    line-height: 50px;
  }
  .mission_title {
    margin: 30px 0;
    gap: 25px;
  }
  .mission_title h2 {
    font-size: 40px;
    line-height: 44px;
  }
  .mission_title p {
    font-size: 18px;
    line-height: 20px;
    max-width: 100%;
  }
  .mission_img {
    margin-bottom: 20px;
  }
  .mission_img img {
    width: 100%;
    aspect-ratio: 1.85/1;
  }
  .career_hero {
    margin: 25px 0;
  }
  .career_hero h2 {
    font-size: 28px;
    line-height: 32px;
    max-width: 100%;
  }
  .career_hero p {
    font-size: 16px;
    line-height: 20px;
    max-width: 350px;
  }
  .career_hero button {
    padding: 12px 20px;
  }
  .who_img {
    aspect-ratio: 1/0.4;
    margin-bottom: 20px;
  }
  .who_img img {
    transform: translateY(30px);
    width: 100%;
    aspect-ratio: 1/0.6;
  }
  .who_text h2 {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
  .who_text p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .who_text h4 {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }
  .life {
    margin: 30px auto 20px;
    gap: 15px;
  }
  .life h2 {
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .life p {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
  }
  .perk_items {
    padding: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  .perk_items h4 {
    font-size: 18px;
    line-height: 20px;
    width: 100% !important;
  }
  .perk_items h4:nth-last-of-type(1),
  .perk_items h4:nth-last-of-type(2),
  .perk_items h4:nth-last-of-type(3),
  .perk_items h4:nth-last-of-type(4),
  .perk_items h4:nth-last-of-type(5) {
    width: 100% !important;
  }
  .roles_category {
    width: 70%;
    margin: 0 auto;
  }
  .roles_job {
    width: 100%;
  }
  .roles_selects label {
    padding: 15px 10px;
  }
  .roles_selects label p {
    font-size: 14px;
  }
  .roles_selects label svg {
    right: 15px;
    top: 20px;
  }
  .roles_category_dropdown li,
  .roles_job_dropdown li {
    padding: 5px 8px;
    font-size: 16px;
    line-height: 26px;
  }
  .roles_items h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .blog_item h4 {
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0;
  }
  .blog_item h3 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .blog_hero {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .subscribe_img img {
    aspect-ratio: 1/0.8;
  }
  .subscribe_text form {
    width: 100%;
  }
  .subscribe {
    margin: 30px 0 20px;
  }
  .blog_modal {
    width: 85vw !important;
  }
  .blog_modal img {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .blog_modal_text {
    padding: 10px 10px 0;
    gap: 10px;
  }
  .blog_modal_text h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .blog_modal_text h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .blog_modal_text p {
    font-size: 18px;
    line-height: 22px;
  }
  .faqs_title,
  .faqs_footer {
    margin: 20px 0;
    padding: 10px 0;
    gap: 10px;
  }
  .faqs_title h2,
  .faqs_footer h2 {
    font-size: 24px;
    line-height: 25px;
    max-width: 350px;
  }
  .faqs_footer h2 {
    margin-bottom: 20px;
  }
  .faqs_title p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .blog_modal,
  .faqs_modal {
    width: 85vw !important;
    padding: 10px 15px;
  }
  .faqs_modal h2 {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
  }
  .faqs_footer a {
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
  }
  .faqs_modal p {
    font-size: 16px;
    line-height: 24px;
  }
  .standart_form {
    max-width: 95%;
  }
  .standart_title {
    gap: 10px;
  }
  .standart_title h2 {
    font-size: 28px;
    line-height: 40px;
  }
  .standart_title p {
    font-size: 14px;
    line-height: 20px;
    /* max-width: 230px; */
    text-align: center;
  }
  .standart_form label {
    gap: 5px;
    margin-bottom: 15px;
  }
  .standart_form button {
    margin: 10px 0 20px;
  }
  .standart_form > p {
    margin: 0 auto 10px;
  }
  .progress_container {
    max-width: 586px;
    margin: 30px auto;
  }
  .prefics {
    width: 30% !important;
  }
  .phone_input {
    width: 65% !important;
  }
  .wallets {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    height: max-content;
    padding: 0 30px;
  }
  .wallet_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 144px;
    padding: 0 25px;
    border-radius: 24px;
    margin-bottom: 20px;
  }
  .wallet_text h3 {
    font-family: "Neurial Grotesk";
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #0e0f0c;
  }
  .wallet_item .standart_link {
    font-size: 18px !important;
  }
  .hey p {
    font-size: 18px;
    line-height: 20px;
  }
  .account_title {
    font-size: 18px;
    line-height: 24px;
  }
  .complete a {
    font-size: 18px;
    line-height: 24px;
    padding-left: 30px;
  }
  .complete a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid #d60c94;
    width: 20px;
    height: 20px;
  }
  .download {
    gap: 10px;
  }
  .download_links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  .activites p {
    font-size: 18px;
    line-height: 20px;
    max-width: 304px;
  }
  .complete {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
  }
  .complete .account_title {
    margin: 0 auto;
  }
  .recent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .activites {
    width: 100%;
  }
  .activites p {
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
  .recent .account_title {
    margin: 0 auto;
  }
  .download {
    width: 100%;
  }
  .download .account_title {
    margin: 0 auto 20px;
  }
  .download .download_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7px;
    align-items: center;
    width: 100%;
  }
  .download .download_links a {
    display: inline-block;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px !important;
    font-size: 14px;
  }
  .account_foot {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  .recent_true {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .recent_true .activites {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .recent_true .activites .for_compelete_activities {
    width: 100%;
    gap: 10px;
  }
  .recent_true .activites .account_title {
    margin: 0 auto 15px;
  }
  .for_complite_item {
    gap: 15px;
  }
  .for_complite_item h2 {
    margin-left: 25px;
  }
  .recent_true .download {
    width: 100%;
  }
  .recent_true .download .account_title {
    margin: 0 auto 15px;
  }
  .business_hero h2 {
    font-size: 20px;
    line-height: 24px;
    max-width: 470px;
    font-weight: 500;
  }
  .business_hero p {
    font-size: 16px;
    line-height: 20px;
    max-width: 470px;
    margin: 10px 0 20px;
  }
  .business_hero_bg {
    overflow: hidden;
  }
  .business_bg_img {
    transform: scale(1.3) translateY(-40px);
  }
  .business_features_title {
    margin-bottom: 20px;
    gap: 10px;
  }
  .business_features_title h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .business_features_title p {
    font-size: 16px;
    line-height: 20px;
    max-width: 540px;
  }
  .business_features_item {
    padding: 35px 25px;
    gap: 25px;
    min-height: 294px;
  }
  .business_features_item h2 {
    font-size: 28px;
    line-height: 32px;
  }
  .business_features_item p {
    font-size: 20px;
    line-height: 24px;
  }
  .business_features_hero {
    padding: 0 25px;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
  }
  .business_features {
    margin: 30px 0;
  }
  .awards_business_hero {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .awards_business_hero .awards_right {
    width: 100%;
  }
  .awards_business_hero .awards_left {
    width: 100%;
  }
  .business_transact_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .business_transact_text h2 {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    width: 100%;
  }
  .business_transact_text p {
    font-size: 18px;
    line-height: 22px;
    max-width: 500px;
    text-align: center;
  }
  .business_transact_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .business_transact_btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
  }
  .business_transact_btns a {
    width: 230px;
    height: 50px;
  }
  .business_transact_item img {
    transform: scale(0.8);
  }
  .business_transact_item p {
    font-size: 12px;
  }
  .business_transact_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .business_transact {
    margin: 30px 0;
  }
  .burger {
    height: 350px !important;
  }
  .burger2 {
    height: 380px !important;
  }
  .faqs_question h2 {
    font-size: 28px;
    line-height: 32px;
    max-width: 400px;
  }
  .foot1_icons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .foot1_icons a {
    padding: 20px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    font-size: 16px;
    width: 200px !important;
  }
  .foot1 .foot1_icons {
    display: none;
  }
  .foot2 .foot1_icons {
    display: flex !important;
    width: 100% !important;
    margin-top: 15px;
  }
  .foot1_icons a {
    padding: 15px 0;
    background-color: #0e0f0c;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    width: 100% !important;
  }
  .foot1_icons a img {
    transform: scale(0.8);
  }
  .flaqs_768 {
    margin-bottom: 20px;
  }
  .flags_country {
    width: 100%;
    margin: 30px auto 20px;
  }
  .previous_flag_btn,
  .next_flag_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #544e9e;
    position: relative;
    cursor: pointer;
  }
  .previous_flag_btn svg,
  .next_flag_btn svg {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffffff;
    pointer-events: none;
  }
  .flaqs_wrapper .previous_flag_btn,
  .flaqs_wrapper .next_flag_btn {
    display: none !important;
  }
  .flag_item {
    padding: 25px;
    border-radius: 50%;
    background-color: #f7f7f7;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  .flag_item img {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }
  .coming {
    bottom: 0;
    z-index: 99999 !important;
    padding: 20px 10px;
  }
  .coming_text {
    width: 75%;
    gap: 5px;
  }
  .coming_text h2 {
    font-size: 18px;
    line-height: 22px;
  }
  .coming_text p {
    font-size: 14px;
    line-height: 18px;
  }
  .coming_btns {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    padding-left: 0;
  }
  .coming_btns a {
    width: 65px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
  }
  .coming_btns button {
    width: 65px;
    height: 35px;
    font-size: 14px;
    line-height: 17px;
  }
}

